# Platform (default: linux/amd64)
# On macOS ARM / linux/arm64, set:
# PLATFORM=linux/arm64
# THREAT_DRAGON_TAG=v2.6.0-arm64
PLATFORM=linux/amd64
THREAT_DRAGON_TAG=v2.6.0

# Required
NODE_ENV=production
SERVER_API_PROTOCOL=http
ENCRYPTION_JWT_REFRESH_SIGNING_KEY=your-random-secret-1
ENCRYPTION_JWT_SIGNING_KEY=your-random-secret-2
ENCRYPTION_KEYS='[{"isPrimary": true, "id": 0, "value": "your-random-secret-3"}]'

# Optional: GitHub OAuth (to save/load models from GitHub repos)
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GITHUB_SCOPE=repo