attestation/.cache/**
attestation/pubkeys/**
attestation/cosign/**
attestation/digest/**
attestation/gpg/**
attestation/mlbom/**
attestation/digest.digest
pentest/workspace/metasploitable_scan.txt
pentest/workspace/metasploitable_scan.xml
